In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('mpg.csv')

In [3]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [4]:
df['model_year'].unique() #Checking whether 'model year' is numeric or categorical

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82])

In [5]:
df['model_year'].value_counts()

model_year
73    40
78    36
76    34
82    31
75    30
80    29
79    29
81    29
70    29
71    28
72    28
77    28
74    27
Name: count, dtype: int64

.groupby() and Aggregate Functions:

In [6]:
df.groupby('model_year') #This is a 'lazy' object, ready for aggregate methods

In [7]:
df.groupby('model_year').mean() #Again, now requires an algorithm to extract numeric columns!

TypeError: agg function failed [how->mean,dtype->object]

In [8]:
numeric_cols = df.select_dtypes(include = 'number').columns
temp = df.groupby('model_year')[numeric_cols].mean()
temp

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
model_year,,,,,,,
70,17.689655,6.758621,281.413793,3372.793103,12.948276,70.0,1.310345
71,21.250000,5.571429,209.750000,2995.428571,15.142857,71.0,1.428571
72,18.714286,5.821429,218.375000,3237.714286,15.125000,72.0,1.535714
73,17.100000,6.375000,256.875000,3419.025000,14.312500,73.0,1.375000
74,22.703704,5.259259,171.740741,2877.925926,16.203704,74.0,1.666667
75,20.266667,5.600000,205.533333,3176.800000,16.050000,75.0,1.466667
76,21.573529,5.647059,197.794118,3078.735294,15.941176,76.0,1.470588
77,23.375000,5.464286,191.392857,2997.357143,15.435714,77.0,1.571429
78,24.061111,5.361111,177.805556,2861.805556,15.805556,78.0,1.611111
79,25.093103,5.827586,206.689655,3055.344828,15.813793,79.0,1.275862
80,33.696552,4.137931,115.827586,2436.655172,16.934483,80.0,2.206897
81,30.334483,4.620690,135.310345,2522.931034,16.306897,81.0,1.965517
82,31.709677,4.193548,128.870968,2453.548387,16.638710,82.0,1.645161

In [9]:
temp['mpg']

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

.groupby() With Multiple Columns:

In [10]:
df.groupby(['model_year', 'cylinders']).mean() #Same idea!

TypeError: agg function failed [how->mean,dtype->object]

In [11]:
numeric_cols = df.select_dtypes(include = 'number').columns
temp = df.groupby(['model_year', 'cylinders'])[numeric_cols].mean()
temp #This creates a multi-level (hierarchy) index

                            mpg  cylinders  displacement       weight  \
model_year cylinders
70         4          25.285714        4.0    107.000000  2292.571429
           6          20.500000        6.0    199.000000  2710.500000
           8          14.111111        8.0    367.555556  3940.055556
71         4          27.461538        4.0    101.846154  2056.384615
           6          18.000000        6.0    243.375000  3171.875000
           8          13.428571        8.0    371.714286  4537.714286
72         3          19.000000        3.0     70.000000  2330.000000
           4          23.428571        4.0    111.535714  2382.642857
           8          13.615385        8.0    344.846154  4228.384615
73         3          18.000000        3.0     70.000000  2124.000000
           4          22.727273        4.0    109.272727  2338.090909
           6          19.000000        6.0    212.250000  2917.125000
           8          13.200000        8.0    365.250000  4279.050000
74         4          27.800000        4.0     96.533333  2151.466667
           6          17.857143        6.0    230.428571  3320.000000
           8          14.200000        8.0    315.200000  4438.400000
75         4          25.250000        4.0    114.833333  2489.250000
           6          17.583333        6.0    233.750000  3398.333333
           8          15.666667        8.0    330.500000  4108.833333
76         4          26.766667        4.0    106.333333  2306.600000
           6          20.000000        6.0    221.400000  3349.600000
           8          14.666667        8.0    324.000000  4064.666667
77         3          21.500000        3.0     80.000000  2720.000000
           4          29.107143        4.0    106.500000  2205.071429
           6          19.500000        6.0    220.400000  3383.000000
           8          16.000000        8.0    335.750000  4177.500000
78         4          29.576471        4.0    112.117647  2296.764706
           5          20.300000        5.0    131.000000  2830.000000
           6          19.066667        6.0    213.250000  3314.166667
           8          19.050000        8.0    300.833333  3563.333333
79         4          31.525000        4.0    113.583333  2357.583333
           5          25.400000        5.0    183.000000  3530.000000
           6          22.950000        6.0    205.666667  3025.833333
           8          18.630000        8.0    321.400000  3862.900000
80         3          23.700000        3.0     70.000000  2420.000000
           4          34.612000        4.0    111.000000  2360.080000
           5          36.400000        5.0    121.000000  2950.000000
           6          25.900000        6.0    196.500000  3145.500000
81         4          32.814286        4.0    108.857143  2275.476190
           6          23.428571        6.0    184.000000  3093.571429
           8          26.600000        8.0    350.000000  3725.000000
82         4          32.071429        4.0    118.571429  2402.321429
           6          28.333333        6.0    225.000000  2931.666667

                      acceleration  model_year    origin
model_year cylinders
70         4             16.000000        70.0  2.285714
           6             15.500000        70.0  1.000000
           8             11.194444        70.0  1.000000
71         4             16.961538        71.0  1.923077
           6             14.750000        71.0  1.000000
           8             12.214286        71.0  1.000000
72         3             13.500000        72.0  3.000000
           4             17.214286        72.0  1.928571
           8             13.000000        72.0  1.000000
73         3             13.500000        73.0  3.000000
           4             17.136364        73.0  2.000000
           6             15.687500        73.0  1.250000
           8             12.250000        73.0  1.000000
74         4             16.400000        74.0  2.200000
           6             16.857143        74.0  1.000000
           8             14.700000        74.0  1.000000
75         4             15.833333        75.0  2.166667
           6             17.708333        75.0  1.000000
           8             13.166667        75.0  1.000000
76         4             16.866667        76.0  1.866667
           6             17.000000        76.0  1.300000
           8             13.222222        76.0  1.000000
77         3             13.500000        77.0  3.000000
           4             16.064286        77.0  1.857143
           6             16.900000        77.0  1.400000
           8             13.662500        77.0  1.000000
78         4             16.282353        78.0  2.117647
           5             15.900000        78.0  2.000000
           6             16.391667        78.0  1.166667
           8             13.266667        78.0  1.000000
79         4             15.991667        79.0  1.583333
           5             20.100000        79.0  2.000000
           6             15.433333        79.0  1.000000
           8             15.400000        79.0  1.000000
80         3             12.500000        80.0  3.000000
           4             17.144000        80.0  2.200000
           5             19.900000        80.0  2.000000
           6             15.050000        80.0  2.000000
81         4             16.466667        81.0  2.095238
           6             15.442857        81.0  1.714286
           8             19.000000        81.0  1.000000
82         4             16.703571        82.0  1.714286
           6             16.033333        82.0  1.000000

In [12]:
temp.columns

Index(['mpg', 'cylinders', 'displacement', 'weight', 'acceleration',
       'model_year', 'origin'],
      dtype='object')

In [13]:
temp.index #Notice the index structure is now a list of tuples

MultiIndex([(70, 4),
            (70, 6),
            (70, 8),
            (71, 4),
            (71, 6),
            (71, 8),
            (72, 3),
            (72, 4),
            (72, 8),
            (73, 3),
            (73, 4),
            (73, 6),
            (73, 8),
            (74, 4),
            (74, 6),
            (74, 8),
            (75, 4),
            (75, 6),
            (75, 8),
            (76, 4),
            (76, 6),
            (76, 8),
            (77, 3),
            (77, 4),
            (77, 6),
            (77, 8),
            (78, 4),
            (78, 5),
            (78, 6),
            (78, 8),
            (79, 4),
            (79, 5),
            (79, 6),
            (79, 8),
            (80, 3),
            (80, 4),
            (80, 5),
            (80, 6),
            (81, 4),
            (81, 6),
            (81, 8),
            (82, 4),
            (82, 6)],
           names=['model_year', 'cylinders'])

In [14]:
temp['mpg']

model_year  cylinders
70          4            25.285714
            6            20.500000
            8            14.111111
71          4            27.461538
            6            18.000000
            8            13.428571
72          3            19.000000
            4            23.428571
            8            13.615385
73          3            18.000000
            4            22.727273
            6            19.000000
            8            13.200000
74          4            27.800000
            6            17.857143
            8            14.200000
75          4            25.250000
            6            17.583333
            8            15.666667
76          4            26.766667
            6            20.000000
            8            14.666667
77          3            21.500000
            4            29.107143
            6            19.500000
            8            16.000000
78          4            29.576471
            5            20.300000
            6            19.066667
            8            19.050000
79          4            31.525000
            5            25.400000
            6            22.950000
            8            18.630000
80          3            23.700000
            4            34.612000
            5            36.400000
            6            25.900000
81          4            32.814286
            6            23.428571
            8            26.600000
82          4            32.071429
            6            28.333333
Name: mpg, dtype: float64

In [15]:
df.groupby('model_year').describe()

             mpg                                                          \
           count       mean       std   min     25%    50%     75%   max
model_year
70          29.0  17.689655  5.339231   9.0  14.000  16.00  22.000  27.0
71          28.0  21.250000  6.591942  12.0  15.500  19.00  27.000  35.0
72          28.0  18.714286  5.435529  11.0  13.750  18.50  23.000  28.0
73          40.0  17.100000  4.700245  11.0  13.000  16.00  20.000  29.0
74          27.0  22.703704  6.420010  13.0  16.000  24.00  27.000  32.0
75          30.0  20.266667  4.940566  13.0  16.000  19.50  23.000  33.0
76          34.0  21.573529  5.889297  13.0  16.750  21.00  26.375  33.0
77          28.0  23.375000  6.675862  15.0  17.375  21.75  30.000  36.0
78          36.0  24.061111  6.898044  16.2  19.350  20.70  28.000  43.1
79          29.0  25.093103  6.794217  15.5  19.200  23.90  31.800  37.3
80          29.0  33.696552  7.037983  19.1  29.800  32.70  38.100  46.6
81          29.0  30.334483  5.591465  17.6  26.600  31.60  34.400  39.1
82          31.0  31.709677  5.392548  22.0  27.000  32.00  36.000  44.0

           cylinders            ... acceleration       origin            \
               count      mean  ...          75%   max  count      mean
model_year                      ...
70              29.0  6.758621  ...       15.000  20.5   29.0  1.310345
71              28.0  5.571429  ...       16.125  20.5   28.0  1.428571
72              28.0  5.821429  ...       16.625  23.5   28.0  1.535714
73              40.0  6.375000  ...       16.000  21.0   40.0  1.375000
74              27.0  5.259259  ...       17.000  21.0   27.0  1.666667
75              30.0  5.600000  ...       17.375  21.0   30.0  1.466667
76              34.0  5.647059  ...       17.550  22.2   34.0  1.470588
77              28.0  5.464286  ...       16.925  19.0   28.0  1.571429
78              36.0  5.361111  ...       16.825  21.5   36.0  1.611111
79              29.0  5.827586  ...       17.300  24.8   29.0  1.275862
80              29.0  4.137931  ...       18.700  23.7   29.0  2.206897
81              29.0  4.620690  ...       17.300  20.7   29.0  1.965517
82              31.0  4.193548  ...       18.000  24.6   31.0  1.645161


                 std  min  25%  50%  75%  max
model_year
70          0.603765  1.0  1.0  1.0  1.0  3.0
71          0.741798  1.0  1.0  1.0  2.0  3.0
72          0.792658  1.0  1.0  1.0  2.0  3.0
73          0.667467  1.0  1.0  1.0  2.0  3.0
74          0.832050  1.0  1.0  1.0  2.0  3.0
75          0.730297  1.0  1.0  1.0  2.0  3.0
76          0.706476  1.0  1.0  1.0  2.0  3.0
77          0.835711  1.0  1.0  1.0  2.0  3.0
78          0.837608  1.0  1.0  1.0  2.0  3.0
79          0.591400  1.0  1.0  1.0  1.0  3.0
80          0.818505  1.0  2.0  2.0  3.0  3.0
81          0.944259  1.0  1.0  2.0  3.0  3.0
82          0.914636  1.0  1.0  1.0  3.0  3.0

[13 rows x 48 columns]

In [16]:
df.groupby('model_year').describe().transpose()

model_year                   70           71           72           73  \
mpg          count    29.000000    28.000000    28.000000    40.000000
             mean     17.689655    21.250000    18.714286    17.100000
             std       5.339231     6.591942     5.435529     4.700245
             min       9.000000    12.000000    11.000000    11.000000
             25%      14.000000    15.500000    13.750000    13.000000
             50%      16.000000    19.000000    18.500000    16.000000
             75%      22.000000    27.000000    23.000000    20.000000
             max      27.000000    35.000000    28.000000    29.000000
cylinders    count    29.000000    28.000000    28.000000    40.000000
             mean      6.758621     5.571429     5.821429     6.375000
             std       1.724926     1.665079     2.073708     1.807215
             min       4.000000     4.000000     3.000000     3.000000
             25%       6.000000     4.000000     4.000000     4.000000
             50%       8.000000     6.000000     4.000000     7.000000
             75%       8.000000     6.500000     8.000000     8.000000
             max       8.000000     8.000000     8.000000     8.000000
displacement count    29.000000    28.000000    28.000000    40.000000
             mean    281.413793   209.750000   218.375000   256.875000
             std     124.421380   115.102410   123.781964   121.722085
             min      97.000000    71.000000    70.000000    68.000000
             25%     198.000000    97.750000   109.250000   121.750000
             50%     307.000000   228.500000   131.000000   276.000000
             75%     383.000000   273.000000   326.000000   350.250000
             max     455.000000   400.000000   429.000000   455.000000
weight       count    29.000000    28.000000    28.000000    40.000000
             mean   3372.793103  2995.428571  3237.714286  3419.025000
             std     852.868663  1061.830859   974.520960   974.809133
             min    1835.000000  1613.000000  2100.000000  1867.000000
             25%    2648.000000  2110.750000  2285.500000  2554.500000
             50%    3449.000000  2798.000000  2956.000000  3338.500000
             75%    4312.000000  3603.250000  4169.750000  4247.250000
             max    4732.000000  5140.000000  4633.000000  4997.000000
acceleration count    29.000000    28.000000    28.000000    40.000000
             mean     12.948276    15.142857    15.125000    14.312500
             std       3.330982     2.666171     2.850032     2.754222
             min       8.000000    11.500000    11.000000     9.500000
             25%      10.000000    13.375000    13.375000    12.500000
             50%      12.500000    14.500000    14.500000    14.000000
             75%      15.000000    16.125000    16.625000    16.000000
             max      20.500000    20.500000    23.500000    21.000000
origin       count    29.000000    28.000000    28.000000    40.000000
             mean      1.310345     1.428571     1.535714     1.375000
             std       0.603765     0.741798     0.792658     0.667467
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     1.000000     1.000000
             50%       1.000000     1.000000     1.000000     1.000000
             75%       1.000000     2.000000     2.000000     2.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   74           75           76           77  \
mpg          count    27.000000    30.000000    34.000000    28.000000
             mean     22.703704    20.266667    21.573529    23.375000
             std       6.420010     4.940566     5.889297     6.675862
             min      13.000000    13.000000    13.000000    15.000000
             25%      16.000000    16.000000    16.750000    17.375000
             50%      24.000000    19.500000    21.000000    21.750000
             75%      27.000000    23.000000    26.375000    30.000000
             max      32.000000    33.000000    33.000000    36.000000
cylinders    count    27.000000    30.000000    34.000000    28.000000
             mean      5.259259     5.600000     5.647059     5.464286
             std       1.583390     1.522249     1.667558     1.815206
             min       4.000000     4.000000     4.000000     3.000000
             25%       4.000000     4.000000     4.000000     4.000000
             50%       4.000000     6.000000     6.000000     4.000000
             75%       6.000000     6.000000     7.500000     8.000000
             max       8.000000     8.000000     8.000000     8.000000
displacement count    27.000000    30.000000    34.000000    28.000000
             mean    171.740741   205.533333   197.794118   191.392857
             std      92.601127    87.669730    94.422256   107.813742
             min      71.000000    90.000000    85.000000    79.000000
             25%      90.000000   121.000000   102.500000    97.750000
             50%     122.000000   228.000000   184.000000   143.000000
             75%     250.000000   250.000000   291.000000   270.500000
             max     350.000000   400.000000   351.000000   400.000000
weight       count    27.000000    30.000000    34.000000    28.000000
             mean   2877.925926  3176.800000  3078.735294  2997.357143
             std     949.308571   765.179781   821.371481   912.825902
             min    1649.000000  1795.000000  1795.000000  1825.000000
             25%    2116.500000  2676.750000  2228.750000  2135.000000
             50%    2489.000000  3098.500000  3171.500000  2747.500000
             75%    3622.500000  3662.250000  3803.750000  3925.000000
             max    4699.000000  4668.000000  4380.000000  4335.000000
acceleration count    27.000000    30.000000    34.000000    28.000000
             mean     16.203704    16.050000    15.941176    15.435714
             std       1.688532     2.471737     2.801419     2.273391
             min      13.500000    11.500000    12.000000    11.100000
             25%      15.250000    14.125000    13.925000    14.000000
             50%      16.000000    16.000000    15.500000    15.650000
             75%      17.000000    17.375000    17.550000    16.925000
             max      21.000000    21.000000    22.200000    19.000000
origin       count    27.000000    30.000000    34.000000    28.000000
             mean      1.666667     1.466667     1.470588     1.571429
             std       0.832050     0.730297     0.706476     0.835711
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     1.000000     1.000000
             50%       1.000000     1.000000     1.000000     1.000000
             75%       2.000000     2.000000     2.000000     2.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   78           79           80           81  \
mpg          count    36.000000    29.000000    29.000000    29.000000
             mean     24.061111    25.093103    33.696552    30.334483
             std       6.898044     6.794217     7.037983     5.591465
             min      16.200000    15.500000    19.100000    17.600000
             25%      19.350000    19.200000    29.800000    26.600000
             50%      20.700000    23.900000    32.700000    31.600000
             75%      28.000000    31.800000    38.100000    34.400000
             max      43.100000    37.300000    46.600000    39.100000
cylinders    count    36.000000    29.000000    29.000000    29.000000
             mean      5.361111     5.827586     4.137931     4.620690
             std       1.495761     1.774199     0.580895     1.082781
             min       4.000000     4.000000     3.000000     4.000000
             25%       4.000000     4.000000     4.000000     4.000000
             50%       5.500000     6.000000     4.000000     4.000000
             75%       6.000000     8.000000     4.000000     6.000000
             max       8.000000     8.000000     6.000000     8.000000
displacement count    36.000000    29.000000    29.000000    29.000000
             mean    177.805556   206.689655   115.827586   135.310345
             std      76.012713    96.307581    33.744914    58.387929
             min      78.000000    85.000000    70.000000    79.000000
             25%     115.500000   121.000000    90.000000    98.000000
             50%     159.500000   183.000000   107.000000   119.000000
             75%     231.000000   302.000000   140.000000   151.000000
             max     318.000000   360.000000   225.000000   350.000000
weight       count    36.000000    29.000000    29.000000    29.000000
             mean   2861.805556  3055.344828  2436.655172  2522.931034
             std     626.023907   747.881497   432.235491   533.600501
             min    1800.000000  1915.000000  1835.000000  1755.000000
             25%    2282.500000  2556.000000  2110.000000  2065.000000
             50%    2910.000000  3190.000000  2335.000000  2385.000000
             75%    3410.000000  3725.000000  2800.000000  2900.000000
             max    4080.000000  4360.000000  3381.000000  3725.000000
acceleration count    36.000000    29.000000    29.000000    29.000000
             mean     15.805556    15.813793    16.934483    16.306897
             std       2.129915     2.952931     2.826694     2.192509
             min      11.200000    11.300000    11.400000    12.600000
             25%      14.475000    14.000000    15.100000    14.800000
             50%      15.750000    15.000000    16.500000    16.200000
             75%      16.825000    17.300000    18.700000    17.300000
             max      21.500000    24.800000    23.700000    20.700000
origin       count    36.000000    29.000000    29.000000    29.000000
             mean      1.611111     1.275862     2.206897     1.965517
             std       0.837608     0.591400     0.818505     0.944259
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     2.000000     1.000000
             50%       1.000000     1.000000     2.000000     2.000000
             75%       2.000000     1.000000     3.000000     3.000000
             max       3.000000     3.000000     3.000000     3.000000

model_year                   82
mpg          count    31.000000
             mean     31.709677
             std       5.392548
             min      22.000000
             25%      27.000000
             50%      32.000000
             75%      36.000000
             max      44.000000
cylinders    count    31.000000
             mean      4.193548
             std       0.601074
             min       4.000000
             25%       4.000000
             50%       4.000000
             75%       4.000000
             max       6.000000
displacement count    31.000000
             mean    128.870968
             std      39.352037
             min      91.000000
             25%     105.000000
             50%     119.000000
             75%     142.000000
             max     262.000000
weight       count    31.000000
             mean   2453.548387
             std     354.276713
             min    1965.000000
             25%    2127.500000
             50%    2525.000000
             75%    2727.500000
             max    3035.000000
acceleration count    31.000000
             mean     16.638710
             std       2.484844
             min      11.600000
             25%      14.850000
             50%      16.400000
             75%      18.000000
             max      24.600000
origin       count    31.000000
             mean      1.645161
             std       0.914636
             min       1.000000
             25%       1.000000
             50%       1.000000
             75%       3.000000
             max       3.000000

Multilevel Index Functions:

In [17]:
year_cyl = df.groupby(['model_year', 'cylinders'])[numeric_cols].mean()

In [18]:
year_cyl

                            mpg  cylinders  displacement       weight  \
model_year cylinders
70         4          25.285714        4.0    107.000000  2292.571429
           6          20.500000        6.0    199.000000  2710.500000
           8          14.111111        8.0    367.555556  3940.055556
71         4          27.461538        4.0    101.846154  2056.384615
           6          18.000000        6.0    243.375000  3171.875000
           8          13.428571        8.0    371.714286  4537.714286
72         3          19.000000        3.0     70.000000  2330.000000
           4          23.428571        4.0    111.535714  2382.642857
           8          13.615385        8.0    344.846154  4228.384615
73         3          18.000000        3.0     70.000000  2124.000000
           4          22.727273        4.0    109.272727  2338.090909
           6          19.000000        6.0    212.250000  2917.125000
           8          13.200000        8.0    365.250000  4279.050000
74         4          27.800000        4.0     96.533333  2151.466667
           6          17.857143        6.0    230.428571  3320.000000
           8          14.200000        8.0    315.200000  4438.400000
75         4          25.250000        4.0    114.833333  2489.250000
           6          17.583333        6.0    233.750000  3398.333333
           8          15.666667        8.0    330.500000  4108.833333
76         4          26.766667        4.0    106.333333  2306.600000
           6          20.000000        6.0    221.400000  3349.600000
           8          14.666667        8.0    324.000000  4064.666667
77         3          21.500000        3.0     80.000000  2720.000000
           4          29.107143        4.0    106.500000  2205.071429
           6          19.500000        6.0    220.400000  3383.000000
           8          16.000000        8.0    335.750000  4177.500000
78         4          29.576471        4.0    112.117647  2296.764706
           5          20.300000        5.0    131.000000  2830.000000
           6          19.066667        6.0    213.250000  3314.166667
           8          19.050000        8.0    300.833333  3563.333333
79         4          31.525000        4.0    113.583333  2357.583333
           5          25.400000        5.0    183.000000  3530.000000
           6          22.950000        6.0    205.666667  3025.833333
           8          18.630000        8.0    321.400000  3862.900000
80         3          23.700000        3.0     70.000000  2420.000000
           4          34.612000        4.0    111.000000  2360.080000
           5          36.400000        5.0    121.000000  2950.000000
           6          25.900000        6.0    196.500000  3145.500000
81         4          32.814286        4.0    108.857143  2275.476190
           6          23.428571        6.0    184.000000  3093.571429
           8          26.600000        8.0    350.000000  3725.000000
82         4          32.071429        4.0    118.571429  2402.321429
           6          28.333333        6.0    225.000000  2931.666667

                      acceleration  model_year    origin
model_year cylinders
70         4             16.000000        70.0  2.285714
           6             15.500000        70.0  1.000000
           8             11.194444        70.0  1.000000
71         4             16.961538        71.0  1.923077
           6             14.750000        71.0  1.000000
           8             12.214286        71.0  1.000000
72         3             13.500000        72.0  3.000000
           4             17.214286        72.0  1.928571
           8             13.000000        72.0  1.000000
73         3             13.500000        73.0  3.000000
           4             17.136364        73.0  2.000000
           6             15.687500        73.0  1.250000
           8             12.250000        73.0  1.000000
74         4             16.400000        74.0  2.200000
           6             16.857143        74.0  1.000000
           8             14.700000        74.0  1.000000
75         4             15.833333        75.0  2.166667
           6             17.708333        75.0  1.000000
           8             13.166667        75.0  1.000000
76         4             16.866667        76.0  1.866667
           6             17.000000        76.0  1.300000
           8             13.222222        76.0  1.000000
77         3             13.500000        77.0  3.000000
           4             16.064286        77.0  1.857143
           6             16.900000        77.0  1.400000
           8             13.662500        77.0  1.000000
78         4             16.282353        78.0  2.117647
           5             15.900000        78.0  2.000000
           6             16.391667        78.0  1.166667
           8             13.266667        78.0  1.000000
79         4             15.991667        79.0  1.583333
           5             20.100000        79.0  2.000000
           6             15.433333        79.0  1.000000
           8             15.400000        79.0  1.000000
80         3             12.500000        80.0  3.000000
           4             17.144000        80.0  2.200000
           5             19.900000        80.0  2.000000
           6             15.050000        80.0  2.000000
81         4             16.466667        81.0  2.095238
           6             15.442857        81.0  1.714286
           8             19.000000        81.0  1.000000
82         4             16.703571        82.0  1.714286
           6             16.033333        82.0  1.000000

In [19]:
year_cyl.index.names

FrozenList(['model_year', 'cylinders'])

In [20]:
year_cyl.index.levels

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [3, 4, 5, 6, 8]])

Working With Multi-Level Indeces:

In [21]:
year_cyl

                            mpg  cylinders  displacement       weight  \
model_year cylinders
70         4          25.285714        4.0    107.000000  2292.571429
           6          20.500000        6.0    199.000000  2710.500000
           8          14.111111        8.0    367.555556  3940.055556
71         4          27.461538        4.0    101.846154  2056.384615
           6          18.000000        6.0    243.375000  3171.875000
           8          13.428571        8.0    371.714286  4537.714286
72         3          19.000000        3.0     70.000000  2330.000000
           4          23.428571        4.0    111.535714  2382.642857
           8          13.615385        8.0    344.846154  4228.384615
73         3          18.000000        3.0     70.000000  2124.000000
           4          22.727273        4.0    109.272727  2338.090909
           6          19.000000        6.0    212.250000  2917.125000
           8          13.200000        8.0    365.250000  4279.050000
74         4          27.800000        4.0     96.533333  2151.466667
           6          17.857143        6.0    230.428571  3320.000000
           8          14.200000        8.0    315.200000  4438.400000
75         4          25.250000        4.0    114.833333  2489.250000
           6          17.583333        6.0    233.750000  3398.333333
           8          15.666667        8.0    330.500000  4108.833333
76         4          26.766667        4.0    106.333333  2306.600000
           6          20.000000        6.0    221.400000  3349.600000
           8          14.666667        8.0    324.000000  4064.666667
77         3          21.500000        3.0     80.000000  2720.000000
           4          29.107143        4.0    106.500000  2205.071429
           6          19.500000        6.0    220.400000  3383.000000
           8          16.000000        8.0    335.750000  4177.500000
78         4          29.576471        4.0    112.117647  2296.764706
           5          20.300000        5.0    131.000000  2830.000000
           6          19.066667        6.0    213.250000  3314.166667
           8          19.050000        8.0    300.833333  3563.333333
79         4          31.525000        4.0    113.583333  2357.583333
           5          25.400000        5.0    183.000000  3530.000000
           6          22.950000        6.0    205.666667  3025.833333
           8          18.630000        8.0    321.400000  3862.900000
80         3          23.700000        3.0     70.000000  2420.000000
           4          34.612000        4.0    111.000000  2360.080000
           5          36.400000        5.0    121.000000  2950.000000
           6          25.900000        6.0    196.500000  3145.500000
81         4          32.814286        4.0    108.857143  2275.476190
           6          23.428571        6.0    184.000000  3093.571429
           8          26.600000        8.0    350.000000  3725.000000
82         4          32.071429        4.0    118.571429  2402.321429
           6          28.333333        6.0    225.000000  2931.666667

                      acceleration  model_year    origin
model_year cylinders
70         4             16.000000        70.0  2.285714
           6             15.500000        70.0  1.000000
           8             11.194444        70.0  1.000000
71         4             16.961538        71.0  1.923077
           6             14.750000        71.0  1.000000
           8             12.214286        71.0  1.000000
72         3             13.500000        72.0  3.000000
           4             17.214286        72.0  1.928571
           8             13.000000        72.0  1.000000
73         3             13.500000        73.0  3.000000
           4             17.136364        73.0  2.000000
           6             15.687500        73.0  1.250000
           8             12.250000        73.0  1.000000
74         4             16.400000        74.0  2.200000
           6             16.857143        74.0  1.000000
           8             14.700000        74.0  1.000000
75         4             15.833333        75.0  2.166667
           6             17.708333        75.0  1.000000
           8             13.166667        75.0  1.000000
76         4             16.866667        76.0  1.866667
           6             17.000000        76.0  1.300000
           8             13.222222        76.0  1.000000
77         3             13.500000        77.0  3.000000
           4             16.064286        77.0  1.857143
           6             16.900000        77.0  1.400000
           8             13.662500        77.0  1.000000
78         4             16.282353        78.0  2.117647
           5             15.900000        78.0  2.000000
           6             16.391667        78.0  1.166667
           8             13.266667        78.0  1.000000
79         4             15.991667        79.0  1.583333
           5             20.100000        79.0  2.000000
           6             15.433333        79.0  1.000000
           8             15.400000        79.0  1.000000
80         3             12.500000        80.0  3.000000
           4             17.144000        80.0  2.200000
           5             19.900000        80.0  2.000000
           6             15.050000        80.0  2.000000
81         4             16.466667        81.0  2.095238
           6             15.442857        81.0  1.714286
           8             19.000000        81.0  1.000000
82         4             16.703571        82.0  1.714286
           6             16.033333        82.0  1.000000

In [22]:
year_cyl.loc[70] #Takes the outer index

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
cylinders,,,,,,,
4,25.285714,4.0,107.000000,2292.571429,16.000000,70.0,2.285714
6,20.500000,6.0,199.000000,2710.500000,15.500000,70.0,1.000000
8,14.111111,8.0,367.555556,3940.055556,11.194444,70.0,1.000000

In [23]:
year_cyl.loc[[70, 82]]

                            mpg  cylinders  displacement       weight  \
model_year cylinders
70         4          25.285714        4.0    107.000000  2292.571429
           6          20.500000        6.0    199.000000  2710.500000
           8          14.111111        8.0    367.555556  3940.055556
82         4          32.071429        4.0    118.571429  2402.321429
           6          28.333333        6.0    225.000000  2931.666667

                      acceleration  model_year    origin
model_year cylinders
70         4             16.000000        70.0  2.285714
           6             15.500000        70.0  1.000000
           8             11.194444        70.0  1.000000
82         4             16.703571        82.0  1.714286
           6             16.033333        82.0  1.000000

In [24]:
year_cyl.loc[(70, 4)] #Extracting a row with a multi-level index requires the tuple of the row you want

mpg               25.285714
cylinders          4.000000
displacement     107.000000
weight          2292.571429
acceleration      16.000000
model_year        70.000000
origin             2.285714
Name: (70, 4), dtype: float64

In [25]:
year_cyl

                            mpg  cylinders  displacement       weight  \
model_year cylinders
70         4          25.285714        4.0    107.000000  2292.571429
           6          20.500000        6.0    199.000000  2710.500000
           8          14.111111        8.0    367.555556  3940.055556
71         4          27.461538        4.0    101.846154  2056.384615
           6          18.000000        6.0    243.375000  3171.875000
           8          13.428571        8.0    371.714286  4537.714286
72         3          19.000000        3.0     70.000000  2330.000000
           4          23.428571        4.0    111.535714  2382.642857
           8          13.615385        8.0    344.846154  4228.384615
73         3          18.000000        3.0     70.000000  2124.000000
           4          22.727273        4.0    109.272727  2338.090909
           6          19.000000        6.0    212.250000  2917.125000
           8          13.200000        8.0    365.250000  4279.050000
74         4          27.800000        4.0     96.533333  2151.466667
           6          17.857143        6.0    230.428571  3320.000000
           8          14.200000        8.0    315.200000  4438.400000
75         4          25.250000        4.0    114.833333  2489.250000
           6          17.583333        6.0    233.750000  3398.333333
           8          15.666667        8.0    330.500000  4108.833333
76         4          26.766667        4.0    106.333333  2306.600000
           6          20.000000        6.0    221.400000  3349.600000
           8          14.666667        8.0    324.000000  4064.666667
77         3          21.500000        3.0     80.000000  2720.000000
           4          29.107143        4.0    106.500000  2205.071429
           6          19.500000        6.0    220.400000  3383.000000
           8          16.000000        8.0    335.750000  4177.500000
78         4          29.576471        4.0    112.117647  2296.764706
           5          20.300000        5.0    131.000000  2830.000000
           6          19.066667        6.0    213.250000  3314.166667
           8          19.050000        8.0    300.833333  3563.333333
79         4          31.525000        4.0    113.583333  2357.583333
           5          25.400000        5.0    183.000000  3530.000000
           6          22.950000        6.0    205.666667  3025.833333
           8          18.630000        8.0    321.400000  3862.900000
80         3          23.700000        3.0     70.000000  2420.000000
           4          34.612000        4.0    111.000000  2360.080000
           5          36.400000        5.0    121.000000  2950.000000
           6          25.900000        6.0    196.500000  3145.500000
81         4          32.814286        4.0    108.857143  2275.476190
           6          23.428571        6.0    184.000000  3093.571429
           8          26.600000        8.0    350.000000  3725.000000
82         4          32.071429        4.0    118.571429  2402.321429
           6          28.333333        6.0    225.000000  2931.666667

                      acceleration  model_year    origin
model_year cylinders
70         4             16.000000        70.0  2.285714
           6             15.500000        70.0  1.000000
           8             11.194444        70.0  1.000000
71         4             16.961538        71.0  1.923077
           6             14.750000        71.0  1.000000
           8             12.214286        71.0  1.000000
72         3             13.500000        72.0  3.000000
           4             17.214286        72.0  1.928571
           8             13.000000        72.0  1.000000
73         3             13.500000        73.0  3.000000
           4             17.136364        73.0  2.000000
           6             15.687500        73.0  1.250000
           8             12.250000        73.0  1.000000
74         4             16.400000        74.0  2.200000
           6             16.857143        74.0  1.000000
           8             14.700000        74.0  1.000000
75         4             15.833333        75.0  2.166667
           6             17.708333        75.0  1.000000
           8             13.166667        75.0  1.000000
76         4             16.866667        76.0  1.866667
           6             17.000000        76.0  1.300000
           8             13.222222        76.0  1.000000
77         3             13.500000        77.0  3.000000
           4             16.064286        77.0  1.857143
           6             16.900000        77.0  1.400000
           8             13.662500        77.0  1.000000
78         4             16.282353        78.0  2.117647
           5             15.900000        78.0  2.000000
           6             16.391667        78.0  1.166667
           8             13.266667        78.0  1.000000
79         4             15.991667        79.0  1.583333
           5             20.100000        79.0  2.000000
           6             15.433333        79.0  1.000000
           8             15.400000        79.0  1.000000
80         3             12.500000        80.0  3.000000
           4             17.144000        80.0  2.200000
           5             19.900000        80.0  2.000000
           6             15.050000        80.0  2.000000
81         4             16.466667        81.0  2.095238
           6             15.442857        81.0  1.714286
           8             19.000000        81.0  1.000000
82         4             16.703571        82.0  1.714286
           6             16.033333        82.0  1.000000

In [27]:
year_cyl.xs(key = 70, level = 'model_year') #Cross-section function returns from a selected level, which only lets you take in a single key

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
cylinders,,,,,,,
4,25.285714,4.0,107.000000,2292.571429,16.000000,70.0,2.285714
6,20.500000,6.0,199.000000,2710.500000,15.500000,70.0,1.000000
8,14.111111,8.0,367.555556,3940.055556,11.194444,70.0,1.000000

In [28]:
year_cyl.xs(key = (70, 80), level = 'model_year') #Can't take in multiple keys directly

KeyError: (70, 80)

In [29]:
year_cyl.xs(key = 4, level = 'cylinders') #Always let the .xs() function know what value you're looking for in a specific level

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
model_year,,,,,,,
70,25.285714,4.0,107.000000,2292.571429,16.000000,70.0,2.285714
71,27.461538,4.0,101.846154,2056.384615,16.961538,71.0,1.923077
72,23.428571,4.0,111.535714,2382.642857,17.214286,72.0,1.928571
73,22.727273,4.0,109.272727,2338.090909,17.136364,73.0,2.000000
74,27.800000,4.0,96.533333,2151.466667,16.400000,74.0,2.200000
75,25.250000,4.0,114.833333,2489.250000,15.833333,75.0,2.166667
76,26.766667,4.0,106.333333,2306.600000,16.866667,76.0,1.866667
77,29.107143,4.0,106.500000,2205.071429,16.064286,77.0,1.857143
78,29.576471,4.0,112.117647,2296.764706,16.282353,78.0,2.117647
79,31.525000,4.0,113.583333,2357.583333,15.991667,79.0,1.583333
80,34.612000,4.0,111.000000,2360.080000,17.144000,80.0,2.200000
81,32.814286,4.0,108.857143,2275.476190,16.466667,81.0,2.095238
82,32.071429,4.0,118.571429,2402.321429,16.703571,82.0,1.714286

In [30]:
df[df['cylinders'].isin([6, 8])] #If you're looking for multiple certain keys within a certain column, it's better to filter before calling groupby with an aggregate function

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
365,20.2,6,200.0,88,3060,17.1,81,1,ford granada gl
366,17.6,6,225.0,85,3465,16.6,81,1,chrysler lebaron salon
386,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
387,38.0,6,262.0,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l

In [31]:
df[df['cylinders'].isin([6, 8])].groupby(['model_year', 'cylinders'])[numeric_cols].mean()

                            mpg  cylinders  displacement       weight  \
model_year cylinders
70         6          20.500000        6.0    199.000000  2710.500000
           8          14.111111        8.0    367.555556  3940.055556
71         6          18.000000        6.0    243.375000  3171.875000
           8          13.428571        8.0    371.714286  4537.714286
72         8          13.615385        8.0    344.846154  4228.384615
73         6          19.000000        6.0    212.250000  2917.125000
           8          13.200000        8.0    365.250000  4279.050000
74         6          17.857143        6.0    230.428571  3320.000000
           8          14.200000        8.0    315.200000  4438.400000
75         6          17.583333        6.0    233.750000  3398.333333
           8          15.666667        8.0    330.500000  4108.833333
76         6          20.000000        6.0    221.400000  3349.600000
           8          14.666667        8.0    324.000000  4064.666667
77         6          19.500000        6.0    220.400000  3383.000000
           8          16.000000        8.0    335.750000  4177.500000
78         6          19.066667        6.0    213.250000  3314.166667
           8          19.050000        8.0    300.833333  3563.333333
79         6          22.950000        6.0    205.666667  3025.833333
           8          18.630000        8.0    321.400000  3862.900000
80         6          25.900000        6.0    196.500000  3145.500000
81         6          23.428571        6.0    184.000000  3093.571429
           8          26.600000        8.0    350.000000  3725.000000
82         6          28.333333        6.0    225.000000  2931.666667

                      acceleration  model_year    origin
model_year cylinders
70         6             15.500000        70.0  1.000000
           8             11.194444        70.0  1.000000
71         6             14.750000        71.0  1.000000
           8             12.214286        71.0  1.000000
72         8             13.000000        72.0  1.000000
73         6             15.687500        73.0  1.250000
           8             12.250000        73.0  1.000000
74         6             16.857143        74.0  1.000000
           8             14.700000        74.0  1.000000
75         6             17.708333        75.0  1.000000
           8             13.166667        75.0  1.000000
76         6             17.000000        76.0  1.300000
           8             13.222222        76.0  1.000000
77         6             16.900000        77.0  1.400000
           8             13.662500        77.0  1.000000
78         6             16.391667        78.0  1.166667
           8             13.266667        78.0  1.000000
79         6             15.433333        79.0  1.000000
           8             15.400000        79.0  1.000000
80         6             15.050000        80.0  2.000000
81         6             15.442857        81.0  1.714286
           8             19.000000        81.0  1.000000
82         6             16.033333        82.0  1.000000

In [32]:
year_cyl.swaplevel() #Swaps the outer and inner levels of a multilevel indexed dataframe

,,mpg,cylinders,displacement,weight,acceleration,model_year,origin
cylinders,model_year,,,,,,,
4,70,25.285714,4.0,107.000000,2292.571429,16.000000,70.0,2.285714
6,70,20.500000,6.0,199.000000,2710.500000,15.500000,70.0,1.000000
8,70,14.111111,8.0,367.555556,3940.055556,11.194444,70.0,1.000000
4,71,27.461538,4.0,101.846154,2056.384615,16.961538,71.0,1.923077
6,71,18.000000,6.0,243.375000,3171.875000,14.750000,71.0,1.000000
8,71,13.428571,8.0,371.714286,4537.714286,12.214286,71.0,1.000000
3,72,19.000000,3.0,70.000000,2330.000000,13.500000,72.0,3.000000
4,72,23.428571,4.0,111.535714,2382.642857,17.214286,72.0,1.928571
8,72,13.615385,8.0,344.846154,4228.384615,13.000000,72.0,1.000000
3,73,18.000000,3.0,70.000000,2124.000000,13.500000,73.0,3.000000
4,73,22.727273,4.0,109.272727,2338.090909,17.136364,73.0,2.000000
6,73,19.000000,6.0,212.250000,2917.125000,15.687500,73.0,1.250000
8,73,13.200000,8.0,365.250000,4279.050000,12.250000,73.0,1.000000
4,74,27.800000,4.0,96.533333,2151.466667,16.400000,74.0,2.200000
6,74,17.857143,6.0,230.428571,3320.000000,16.857143,74.0,1.000000
8,74,14.200000,8.0,315.200000,4438.400000,14.700000,74.0,1.000000
4,75,25.250000,4.0,114.833333,2489.250000,15.833333,75.0,2.166667
6,75,17.583333,6.0,233.750000,3398.333333,17.708333,75.0,1.000000
8,75,15.666667,8.0,330.500000,4108.833333,13.166667,75.0,1.000000
4,76,26.766667,4.0,106.333333,2306.600000,16.866667,76.0,1.866667
6,76,20.000000,6.0,221.400000,3349.600000,17.000000,76.0,1.300000
8,76,14.666667,8.0,324.000000,4064.666667,13.222222,76.0,1.000000
3,77,21.500000,3.0,80.000000,2720.000000,13.500000,77.0,3.000000
4,77,29.107143,4.0,106.500000,2205.071429,16.064286,77.0,1.857143
6,77,19.500000,6.0,220.400000,3383.000000,16.900000,77.0,1.400000
8,77,16.000000,8.0,335.750000,4177.500000,13.662500,77.0,1.000000
4,78,29.576471,4.0,112.117647,2296.764706,16.282353,78.0,2.117647
5,78,20.300000,5.0,131.000000,2830.000000,15.900000,78.0,2.000000
6,78,19.066667,6.0,213.250000,3314.166667,16.391667,78.0,1.166667
8,78,19.050000,8.0,300.833333,3563.333333,13.266667,78.0,1.000000
4,79,31.525000,4.0,113.583333,2357.583333,15.991667,79.0,1.583333
5,79,25.400000,5.0,183.000000,3530.000000,20.100000,79.0,2.000000
6,79,22.950000,6.0,205.666667,3025.833333,15.433333,79.0,1.000000
8,79,18.630000,8.0,321.400000,3862.900000,15.400000,79.0,1.000000
3,80,23.700000,3.0,70.000000,2420.000000,12.500000,80.0,3.000000
4,80,34.612000,4.0,111.000000,2360.080000,17.144000,80.0,2.200000
5,80,36.400000,5.0,121.000000,2950.000000,19.900000,80.0,2.000000
6,80,25.900000,6.0,196.500000,3145.500000,15.050000,80.0,2.000000
4,81,32.814286,4.0,108.857143,2275.476190,16.466667,81.0,2.095238
6,81,23.428571,6.0,184.000000,3093.571429,15.442857,81.0,1.714286
8,81,26.600000,8.0,350.000000,3725.000000,19.000000,81.0,1.000000
4,82,32.071429,4.0,118.571429,2402.321429,16.703571,82.0,1.714286
6,82,28.333333,6.0,225.000000,2931.666667,16.033333,82.0,1.000000

In [33]:
year_cyl.sort_index(level = 'model_year', ascending = False)

                            mpg  cylinders  displacement       weight  \
model_year cylinders
82         6          28.333333        6.0    225.000000  2931.666667
           4          32.071429        4.0    118.571429  2402.321429
81         8          26.600000        8.0    350.000000  3725.000000
           6          23.428571        6.0    184.000000  3093.571429
           4          32.814286        4.0    108.857143  2275.476190
80         6          25.900000        6.0    196.500000  3145.500000
           5          36.400000        5.0    121.000000  2950.000000
           4          34.612000        4.0    111.000000  2360.080000
           3          23.700000        3.0     70.000000  2420.000000
79         8          18.630000        8.0    321.400000  3862.900000
           6          22.950000        6.0    205.666667  3025.833333
           5          25.400000        5.0    183.000000  3530.000000
           4          31.525000        4.0    113.583333  2357.583333
78         8          19.050000        8.0    300.833333  3563.333333
           6          19.066667        6.0    213.250000  3314.166667
           5          20.300000        5.0    131.000000  2830.000000
           4          29.576471        4.0    112.117647  2296.764706
77         8          16.000000        8.0    335.750000  4177.500000
           6          19.500000        6.0    220.400000  3383.000000
           4          29.107143        4.0    106.500000  2205.071429
           3          21.500000        3.0     80.000000  2720.000000
76         8          14.666667        8.0    324.000000  4064.666667
           6          20.000000        6.0    221.400000  3349.600000
           4          26.766667        4.0    106.333333  2306.600000
75         8          15.666667        8.0    330.500000  4108.833333
           6          17.583333        6.0    233.750000  3398.333333
           4          25.250000        4.0    114.833333  2489.250000
74         8          14.200000        8.0    315.200000  4438.400000
           6          17.857143        6.0    230.428571  3320.000000
           4          27.800000        4.0     96.533333  2151.466667
73         8          13.200000        8.0    365.250000  4279.050000
           6          19.000000        6.0    212.250000  2917.125000
           4          22.727273        4.0    109.272727  2338.090909
           3          18.000000        3.0     70.000000  2124.000000
72         8          13.615385        8.0    344.846154  4228.384615
           4          23.428571        4.0    111.535714  2382.642857
           3          19.000000        3.0     70.000000  2330.000000
71         8          13.428571        8.0    371.714286  4537.714286
           6          18.000000        6.0    243.375000  3171.875000
           4          27.461538        4.0    101.846154  2056.384615
70         8          14.111111        8.0    367.555556  3940.055556
           6          20.500000        6.0    199.000000  2710.500000
           4          25.285714        4.0    107.000000  2292.571429

                      acceleration  model_year    origin
model_year cylinders
82         6             16.033333        82.0  1.000000
           4             16.703571        82.0  1.714286
81         8             19.000000        81.0  1.000000
           6             15.442857        81.0  1.714286
           4             16.466667        81.0  2.095238
80         6             15.050000        80.0  2.000000
           5             19.900000        80.0  2.000000
           4             17.144000        80.0  2.200000
           3             12.500000        80.0  3.000000
79         8             15.400000        79.0  1.000000
           6             15.433333        79.0  1.000000
           5             20.100000        79.0  2.000000
           4             15.991667        79.0  1.583333
78         8             13.266667        78.0  1.000000
           6             16.391667        78.0  1.166667
           5             15.900000        78.0  2.000000
           4             16.282353        78.0  2.117647
77         8             13.662500        77.0  1.000000
           6             16.900000        77.0  1.400000
           4             16.064286        77.0  1.857143
           3             13.500000        77.0  3.000000
76         8             13.222222        76.0  1.000000
           6             17.000000        76.0  1.300000
           4             16.866667        76.0  1.866667
75         8             13.166667        75.0  1.000000
           6             17.708333        75.0  1.000000
           4             15.833333        75.0  2.166667
74         8             14.700000        74.0  1.000000
           6             16.857143        74.0  1.000000
           4             16.400000        74.0  2.200000
73         8             12.250000        73.0  1.000000
           6             15.687500        73.0  1.250000
           4             17.136364        73.0  2.000000
           3             13.500000        73.0  3.000000
72         8             13.000000        72.0  1.000000
           4             17.214286        72.0  1.928571
           3             13.500000        72.0  3.000000
71         8             12.214286        71.0  1.000000
           6             14.750000        71.0  1.000000
           4             16.961538        71.0  1.923077
70         8             11.194444        70.0  1.000000
           6             15.500000        70.0  1.000000
           4             16.000000        70.0  2.285714

In [34]:
year_cyl.sort_index(level = 'cylinders', ascending = False) #Be careful when sorting by inner levels, as it can break up grouping

,,mpg,cylinders,displacement,weight,acceleration,model_year,origin
model_year,cylinders,,,,,,,
81,8,26.600000,8.0,350.000000,3725.000000,19.000000,81.0,1.000000
79,8,18.630000,8.0,321.400000,3862.900000,15.400000,79.0,1.000000
78,8,19.050000,8.0,300.833333,3563.333333,13.266667,78.0,1.000000
77,8,16.000000,8.0,335.750000,4177.500000,13.662500,77.0,1.000000
76,8,14.666667,8.0,324.000000,4064.666667,13.222222,76.0,1.000000
75,8,15.666667,8.0,330.500000,4108.833333,13.166667,75.0,1.000000
74,8,14.200000,8.0,315.200000,4438.400000,14.700000,74.0,1.000000
73,8,13.200000,8.0,365.250000,4279.050000,12.250000,73.0,1.000000
72,8,13.615385,8.0,344.846154,4228.384615,13.000000,72.0,1.000000
71,8,13.428571,8.0,371.714286,4537.714286,12.214286,71.0,1.000000
70,8,14.111111,8.0,367.555556,3940.055556,11.194444,70.0,1.000000
82,6,28.333333,6.0,225.000000,2931.666667,16.033333,82.0,1.000000
81,6,23.428571,6.0,184.000000,3093.571429,15.442857,81.0,1.714286
80,6,25.900000,6.0,196.500000,3145.500000,15.050000,80.0,2.000000
79,6,22.950000,6.0,205.666667,3025.833333,15.433333,79.0,1.000000
78,6,19.066667,6.0,213.250000,3314.166667,16.391667,78.0,1.166667
77,6,19.500000,6.0,220.400000,3383.000000,16.900000,77.0,1.400000
76,6,20.000000,6.0,221.400000,3349.600000,17.000000,76.0,1.300000
75,6,17.583333,6.0,233.750000,3398.333333,17.708333,75.0,1.000000
74,6,17.857143,6.0,230.428571,3320.000000,16.857143,74.0,1.000000
73,6,19.000000,6.0,212.250000,2917.125000,15.687500,73.0,1.250000
71,6,18.000000,6.0,243.375000,3171.875000,14.750000,71.0,1.000000
70,6,20.500000,6.0,199.000000,2710.500000,15.500000,70.0,1.000000
80,5,36.400000,5.0,121.000000,2950.000000,19.900000,80.0,2.000000
79,5,25.400000,5.0,183.000000,3530.000000,20.100000,79.0,2.000000
78,5,20.300000,5.0,131.000000,2830.000000,15.900000,78.0,2.000000
82,4,32.071429,4.0,118.571429,2402.321429,16.703571,82.0,1.714286
81,4,32.814286,4.0,108.857143,2275.476190,16.466667,81.0,2.095238
80,4,34.612000,4.0,111.000000,2360.080000,17.144000,80.0,2.200000
79,4,31.525000,4.0,113.583333,2357.583333,15.991667,79.0,1.583333
78,4,29.576471,4.0,112.117647,2296.764706,16.282353,78.0,2.117647
77,4,29.107143,4.0,106.500000,2205.071429,16.064286,77.0,1.857143
76,4,26.766667,4.0,106.333333,2306.600000,16.866667,76.0,1.866667
75,4,25.250000,4.0,114.833333,2489.250000,15.833333,75.0,2.166667
74,4,27.800000,4.0,96.533333,2151.466667,16.400000,74.0,2.200000
73,4,22.727273,4.0,109.272727,2338.090909,17.136364,73.0,2.000000
72,4,23.428571,4.0,111.535714,2382.642857,17.214286,72.0,1.928571
71,4,27.461538,4.0,101.846154,2056.384615,16.961538,71.0,1.923077
70,4,25.285714,4.0,107.000000,2292.571429,16.000000,70.0,2.285714
80,3,23.700000,3.0,70.000000,2420.000000,12.500000,80.0,3.000000
77,3,21.500000,3.0,80.000000,2720.000000,13.500000,77.0,3.000000
73,3,18.000000,3.0,70.000000,2124.000000,13.500000,73.0,3.000000
72,3,19.000000,3.0,70.000000,2330.000000,13.500000,72.0,3.000000

In [ ]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

Applying Different Aggregate Functions To Different Columns:

In [36]:
df.agg(['std', 'mean']) #You can guess how to fix this in the current version!

TypeError: could not convert string to float: '?'

In [37]:
df[numeric_cols].agg(['std', 'mean']) #Applying multiple aggregate calls to all columns

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864

In [39]:
df[numeric_cols].agg(['std', 'mean'])['mpg'] #Applying multiple aggregate calls to one column

std      7.815984
mean    23.514573
Name: mpg, dtype: float64

In [40]:
df.agg({'mpg': ['max', 'mean'], 'weight': ['mean', 'std']}) #Applying specific aggregate calls to specific columns
#Keep in mind that you get NaN values for things you didn't call

            mpg       weight
max   46.600000          NaN
mean  23.514573  2970.424623
std         NaN   846.841774