In [1]:
def my_func():
    print('hello')

In [2]:
my_func()

hello

In [3]:
my_func

In [4]:
def my_func(name):
    print('hello ' + name)

In [5]:
my_func('Jake')

hello Jake

In [6]:
my_func()

TypeError: my_func() missing 1 required positional argument: 'name'

In [7]:
def my_func(name = 'NO NAME'):
    print('hello ' + name)

In [8]:
my_func('Jake')

hello Jake

In [9]:
my_func()

hello NO NAME

In [10]:
def my_func(name = 'NO NAME'):
    '''
    This prints out the user name!
    '''
    print('hello ' + name)

In [11]:
my_func

In [15]:
def square(x):
    print(x ** 2)

In [17]:
result = square(2)

4

In [19]:
print(result)

None

In [20]:
def square(x):
    return x ** 2

In [21]:
result = square(2)

In [22]:
result

4

In [23]:
def times_two(var):
    return var * 2

In [24]:
times_two(10)

20

In [25]:
lambda var: var * 2

In [26]:
st = 'hello my name is Sam'

In [27]:
st.lower()

'hello my name is sam'

In [28]:
st.upper()

'HELLO MY NAME IS SAM'

In [29]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [30]:
tweet = 'Hello #sports'

In [32]:
tweet.split('#')

['Hello ', 'sports']

In [33]:
tweet.split('#')[-1]

'sports'

In [34]:
d = {'k1': 'v1', 'k2': 'v2'}

In [35]:
d.keys()

dict_keys(['k1', 'k2'])

In [36]:
d.items()

dict_items([('k1', 'v1'), ('k2', 'v2')])

In [37]:
mylist = [1, 2, 3]

In [38]:
last = mylist.pop()

In [39]:
mylist

[1, 2]

In [40]:
last

3

In [42]:
mylist = [1, 2, 3]

In [43]:
mylist

[1, 2, 3]

In [44]:
first = mylist.pop(0)

In [45]:
mylist

[2, 3]

In [46]:
first

1

In [47]:
'x' in [1, 2, 3]

False

In [48]:
1 in [1, 2, 3]

True

In [49]:
2 in mylist

True