In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
1 + 1

2

In [6]:
1 * 3

3

In [7]:
1 / 2

0.5

In [8]:
2 ** 4

16

In [9]:
4 % 2

0

In [10]:
5 % 2

1

In [11]:
2 + 3 * 5 + 5

22

In [12]:
(2 + 3) * (5 + 5)

50

In [13]:
name_of_var = 2

In [14]:
x = 1
y = 2

In [15]:
x + y

3

In [16]:
'string'

'string'

In [17]:
"double"

'double'

In [18]:
"I don't like that "

"I don't like that "

In [19]:
print("hello")

hello

In [20]:
"hello"

'hello'

In [25]:
print("My name is {}, my number is {}".format('Jake', '10'))

My name is Jake, my number is 10

In [27]:
print("First: {x}, second {y}".format(x='XXX', y='YYY'))

First: XXX, second YYY

In [28]:
print("First: {y}, second {y}".format(x='XXX', y='YYY'))

First: YYY, second YYY

In [29]:
print("First: {y}, second {x}".format(x='XXX', y='YYY'))

First: YYY, second XXX

In [30]:
[1, 2, 3]

[1, 2, 3]

In [31]:
['a', 'b', 'c']

['a', 'b', 'c']

In [32]:
[1, 'a']

[1, 'a']

In [33]:
mylist = ['a', 'b', 'c']

In [34]:
mylist[0]

'a'

In [35]:
mylist[2]

'c'

In [36]:
mylist[-1]

'c'

In [37]:
mylist[0] = 'NEW'

In [38]:
mylist

['NEW', 'b', 'c']

In [39]:
mylist.append('d')

In [40]:
mylist

['NEW', 'b', 'c', 'd']

In [41]:
mylist = [1, 2, [100, 200]]

In [42]:
mylist

[1, 2, [100, 200]]

In [43]:
mylist[2]

[100, 200]

In [44]:
mylist[2][1]

200

In [45]:
d = {'key1':'value1', 'key2':'value2'}

In [46]:
d['key1']

'value1'

In [47]:
d['key2']

'value2'

In [48]:
print(d)

{'key1': 'value1', 'key2': 'value2'}

In [49]:
True

True

In [50]:
False

False

In [51]:
t = (1, 2, 3)

In [52]:
t[0] = 'New'

TypeError: 'tuple' object does not support item assignment

In [53]:
{1, 2, 3} #This is a set

{1, 2, 3}

In [54]:
{1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3}

{1, 2, 3}