In [1]:
emails = {
    'Anne Stahl': 'astahl@gmail.com',
    'Peter Small': 'peters@yandex.com',
    'Mark Steel': 'mark@steel.com'
}

In [3]:
print(emails['Mark Steel'])

mark@steel.com

In [5]:
spanish_animals = {
    'dog': 'el perro',
    'cat': 'el gato',
    'horse': 'el caballo',
    'bird': 'el pájaro'
}

In [6]:
print(spanish_animals['bird'])

el pájaro

In [9]:
spanish_animals = {
    'dog': 'el perro',
    'cat': 'el gato',
    'horse': 'el caballo',
    'bird': 'el pájaro',
    'bird': 'el ave'
}

In [10]:
print(spanish_animals)

{'dog': 'el perro', 'cat': 'el gato', 'horse': 'el caballo', 'bird': 'el ave'}

In [11]:
print(spanish_animals['el perro'])

KeyError: 'el perro'

In [12]:
tennis_ranking = {
    1: 'Ashleigh Barty',
    2: 'Naomi Osaka',
    3: 'Simona Halep'
}

In [13]:
tennis_ranking = {
    [1]: 'Ashleigh Barty',
    [2]: 'Naomi Osaka',
    [3]: 'Simona Halep'
}

TypeError: unhashable type: 'list'

In [14]:
city_ratings = {
    'Bangkok': [7, 4, 7, 5],
    'Hanoi': [7, 6, 4, 5],
    'Manila': [6, 6, 4, 4, 5]
}